$color-black: #161726;
$color-white: #F2F1F3;


$color-bg: #f6f4e7;
$color-secondary: #C0C0C0;


$color-primary: #bde0f5 ;
$color-primary-dark-1: #91b2c6 ;
$color-primary-dark-2: #58778f ;

$color-error: #e35050;
$color-success: #a1dc84;

$t-outline-2px: 2px 2px 0 #000;
$t-outline: 1px 1px 0 #000;
$b-shadow-s: 0 2px 4px rgba(0,0,0, .1);
$border-radius: 15px;