@import './variables.scss';
@import './mixins.scss';
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  color: $color-black;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

    @include respond(big-desk) {
      font-size: 100%;
    }

    @include respond(tab-land) {
      font-size: 56.25%;
    }
    
    @include respond(tab-port) {
      font-size: 50%;
    }
}

img {
  display: inline-block;
  color: $color-white;
}


body {
    box-sizing: border-box;
    font-size: 1.6rem;
    padding: 3rem;
    background-color: $color-white;

    font-family: 'Poppins', sans-serif;

  & > * {
    background-color: $color-bg;
  }    

  @include respond(tab-port) {
    padding: 0;
  }

}

main {
  // Section selector
  & > * {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: $color-bg;
  }
}
