@import '@/app/styles/mixins';
@import '@/app/styles/variables';
.about {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 80%;
  @include meshGradient(0.05);
  background-color: rgba($color-white, 0.5);

  padding: 7rem 5rem;

  @include boxOutline(2px, 2px);

  gap: 3rem;

  @include respond(tab-port) {
    padding: 5rem;
    flex-direction: column-reverse;
  }

  @include respond(phone) {
    width: 100%;
    gap: 1rem;
    padding: 3rem;
  }
}

.h3 {
  font-size: 3rem;
  font-weight: 600;
  color: $color-black;
  flex-basis: 100%;

  @include respond(tab-port) {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.text {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  & p {
    margin: auto 0;
    max-height: 20rem;
    overflow: auto;
    padding: 0 2rem 0 0;
  }

  @include respond(tab-port) {
    flex-direction: column-reverse;
  }
}

.img {
  border-radius: 500px;
  width: 15rem;
  // height: 15rem;
  object-fit: cover;
  aspect-ratio: 1/1;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  margin-top: -1rem;

  border: 3px solid #ffe68b;
}

// ! ANIMATION STYLING
.section {
  padding: 0;

  &.visible > .wrapper > * {
    transform: translateX(0);
    opacity: 1;
  }
}

.wrapper {
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & > * {

    transition: transform, opacity, 0.5s ease-in-out;
    opacity: 0;
  }
  & > h2 {
    transform: translateX(-50vw);
  }

  & > .about {
    transform: translateX(50vw);
  }
}
