.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 3rem;
}

.project {
  text-align: center;

  & > h3 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
  }

  & > p {
    margin: 2rem 0;
    min-height: 10rem;
    // text-align: justify;
  }
}

.img-box {
  background-color: #fff;
  // flex: 1 0;
  height: 30rem;
  width: 100%;
  margin-bottom: 3rem;

  & > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
