@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';

.projects {
  position: relative;
  height: fit-content;
  width: 100%;

  cursor: pointer;
  display: flex;
  align-items: center;
}
.project {
  text-align: center;
  margin-bottom: 5rem;

  & > h3 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 2rem;
    color: $color-primary-dark-1;
    text-shadow: $t-outline;
  }

  & > p {
    margin: 2rem 0;
    width: 80%;
    text-align: center;
    margin: 1rem auto 3rem;
  }
}

.img {
  @include boxOutline(2px, 1px);

  width: 45%;
  object-fit: contain;
  display: block;
  margin: auto;

  @include respond(tab-port) {
    width: 75%;
  }
}

.pagination {
  background-color: $color-primary !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 5px !important;
  box-shadow: 1px 1px 0 $color-black;
  border: 1px solid $color-black;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  z-index: 100;
  cursor: pointer;

  fill: $color-black;

  &:first-of-type {
    left: 3rem;

    @include respond(phone) {
      left: 0;
    }
  }

  &:last-of-type {
    right: 3rem;

    @include respond(phone) {
      right: 0;
    }
  }

  @include respond(phone) {
    height: 4rem;
    width: 4rem;
  }
  &:hover {
    fill: $color-primary-dark-1;
  }
}

