@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  label {
    margin: 2rem 0 0.5rem;

    &.label-invalid {
      color: $color-error;
    }
  }

  input {
    height: 4rem;
  }

  textarea {
    resize: none;
    padding-top: 1rem;
    height: 20rem;
    max-width: 100%;
    min-width: 100%;
  }

  & > input,
  & > textarea {
    border: 2px solid $color-black;
    padding-left: 1rem;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 2px;

    box-shadow: 3px 3px 0 $color-black;
    border-radius: 5px;

    transition: border-color, color, box-shadow, 0.3s ease;
    will-change: border-color, color, box-shadow;

    &::placeholder {
      text-transform: uppercase;
      color: $color-secondary;
    }

    &:focus {
      color: $color-primary-dark-1;
      border-color: $color-primary-dark-1;
      box-shadow: 3px 3px 0 $color-primary-dark-1;
    }

    &.input-invalid {
      border-color: $color-error;
      box-shadow: 3px 3px 0 $color-error;
      color: $color-error;
    }

    @include respond (phone) {
      font-size: 1.3rem;
    }
  }
}

.error-message {

  color: $color-error;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1rem 0 0 1rem;
}