@import '@/app/styles/mixins';
@import '@/app/styles/variables';

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: $color-black;
  opacity: 0;
  transform: translateY(20px);

  transition: opacity, transform, 0.5s ease-in-out;

  & > img {
    height: 6rem;
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

