@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';
.contact {
  padding-bottom: 15rem;

  &-box {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem;
    justify-content: space-between;
    align-items: center;
    gap: 15vw;

    @include meshGradient(0.05);
    background-color: rgba($color-white, 0.05);

    @include boxOutline(2px, 2px);

    @include respond(tab-land) {
      gap: 5rem;
    }

    @include respond(tab-port) {
      background-color: transparent;
      background-image: none;
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }
}

.text-box {
  opacity: 0.5;

  & > h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 3rem;

    @include respond(tab-land) {
      font-size: 4rem;
    }
  }

  @include respond(tab-port) {
    display: none;
  }
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 45rem;
  padding: 8rem 5rem 5rem;
  position: relative;
  background-color: $color-white;

  border-radius: 10px;
  border: 2px solid $color-black;
  box-shadow: 4px 4px 0 $color-black;

  & > h4 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }

  @include respond(tab-port) {
    width: 50rem;
    max-width: calc(100vw - 6rem);
  }
}

.icon-box {
  border-radius: 500px;
  background-color: $color-black;
  width: 30rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-land) {
    width: 15rem;
    margin: auto;
  }
}

.icon {
  fill: $color-white;
  height: 80%;
  width: 80%;
  transform: rotate(15deg);
}

// ! ANIMATION STYLING
.contact-box {
  overflow: hidden;

  & > .form-box {
    transform: translateY(150%);
    transition: transform, opacity, 1s ease;

    @include respond(tab-port) {
      transition-duration: .5s;
      transform: translateX(100vw);
      opacity: 0;
    }
  }

  &.visible {
    & > .form-box {
      transform: translate(0);
      opacity: 1;
    }
  }

  @include respond(tab-port) {
    overflow: visible;
  }
}
