@import '@/app/styles/variables.scss';
.footer {
  background-color: $color-black;
  padding: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo {
  width: 20%;
  min-width: 20rem;
  text-align: center;
}

.list {
  z-index: 100;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.link {
  text-decoration: none;
  font-size: 2rem;
  color: $color-white;
  outline: none;
  border-bottom: 1px solid transparent;
  transition: color, border-color, 0.2s ease;
  will-change: color, border-color;

  &:hover,
  &:focus {
    border-color: currentColor;
  }
}

.copyright {
  text-align: center;
  color: rgba($color-white, 0.5);

  & > span {
    font-size: 1.4rem;
    display: block;
    color: rgba($color-white, 0.2);

    & > a {
      color: inherit;
      outline: none;

      transition: color, border-color, 0.2s ease;
      will-change: color, border-color;
      text-decoration: none;

      border-bottom: 1px solid transparent;
      &:hover,
      &:focus {
        color: rgba($color-white, 0.4);
        border-color: currentColor;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.icon-box {
  display: inline-block;
  outline: none;
  transition: fill, transform, .2s ease;
  &:focus,
  &:hover > .icon {
    fill: $color-primary;
    transform: translateY(-2px);
  }
}

.icon {
  fill: $color-white;
  height: 3rem;
  width: 3rem;

  transition: fill, transform, 0.2s ease;
}
