@import '@/app/styles/variables.scss';
@import '@/app/styles/mixins.scss';
.header {
  position: relative;
  padding: 5rem;

  @include respond(tab-port) {
    padding-top: 15rem;
  }
}

.logo {
  display: none;
  @include respond(tab-port) {
    display: block;
    opacity: .7;
    height: 6rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.h2 {
  font-weight: 400;
  font-size: 3.5rem;
  text-align: left;
  margin-bottom: 2rem;
  @include respond(tab-port) {
    font-size: 3rem;
  }
}

.content {
  display: flex;

  width: 100%;

  & > * {
    flex: 0 0 50%;
  }
}

.text {
  @include respond(phone) {
    flex-basis: 100%;
    z-index: 1;
  }
}

.graphics {
  position: relative;

  &-bg {
    max-height: 100%;
    width: 80%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: -5rem;
    transform: rotateY(180deg);
    z-index: 2;

    @media only screen and (max-width: 650px) {
      height: 40rem;
      width: 100%;
      position: relative;
      right: 0;
    }

    @include respond(phone) {
      opacity: .2;
      filter: brightness(1.1);
    }
  }

  @media only screen and (max-width: 650px) {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.buttons {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   width: 70%;
   @include respond(tab-port) {
width: 100%;
  }
}